@import url("https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Geist+Mono:wght@100..900&display=swap");
.App {
  text-align: left;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Droid Sans", "Helvetica Neue", sans-serif, "Fira Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: greyscale;
  font-family: "Geist Mono", monospace !important;
}

code {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.navbar {
  background-color: black !important;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 10;
}
.nav-link {
  color: white !important;
}
.navbar-brand {
  color: white !important;
}
.navbar-nav {
  margin-left: auto !important;
}
.smallimg {
  height: 200px;
  width: 100% !important;
  border-radius: 5px !important;
}
h1 {
  font-size: 20px !important;
}

.btn {
  background-color: black !important;
  color: white !important;
  box-shadow: none !important;
}

.bs {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px !important;
  padding: 20px !important;
}

.bigimg {
  height: 410px !important;
  border-radius: 5px !important;
}

input,
select,
ant-picker {
  box-shadow: none !important;
  margin-top: 5px !important;
  border: 1 px solid black !important;
  width: 100% !important;
  border-radius: 3px !important;
  height: 35px !important;
}

h2 {
  font-size: 30px;
  padding: 2em;
  padding-bottom: 10px;
  font-weight: bold;
}
i {
  padding-right: 8px;
}

.ant-picker-input input {
  border: none !important;
}

.col-md-9 {
  background-color: white !important;
  border-radius: 10px !important;
}

.asd {
  background-color: white !important;
  margin-top: 6.9em !important;
}

.admin {
  background-color: white !important;
}

.landing {
  background-color: black !important;
  height: 100vh;
}

.landingbtn {
  background-color: white !important;
  color: black !important;
  margin-top: 20px !important;
}
.profil {
  margin: 20px;
  margin-top: 4em;
}
